<% @page_title = "Section List"%>

<div class="section list">
	<h2>Sections</h2>
	<%= link_to("Add new Section", {:action=>"new"}, :class=>"action new round") %>
	<table class="listing" summary="Section list">
		<tr class="header">
			<th>Pos</th>
			<th>Section name</th>
			<th>Visible</th>
			<th>Actions</th>
		</tr>
		<% @sections.each do |section| %>
		<tr>
			<td><%= section.position %></td>
			<td><%= section.name %></td>
			<td class="center"><%= status_tag(section.visible) %></td>
			<td class="actions">
				<%= action_links_tag(section) %>
			</td>
		</tr>
		<% end %>		
	</table>
</div>
	