<% @page_title = "Page List"%>
<%= link_to("<<Back to Stories list", { 	:controller => "stories",
											:action		=> "index", 
											:page 		=> session[:story_page], 
											:sort 		=> session[:story_sort], 
											:direction 	=> session[:story_direction],
											:search 	=> session[:story_search] }, 
											:class 		=> "back-link") %>	
<div class="page list">
	<h2>Pages</h2>	
	<% if params[:story_id] %>
		<%= link_to("Add new Page", {:action=>"new", :story_id => @story.id }, :class=>"action new round") %>
	<% else %>
		<%= link_to("Add new Page", {:action=>"new" }, :class=>"action new round") %>
	<% end %>
	<%= render :partial => 'search_field_tag' %>
	<%= render :partial => 'index_table' %>
	<%= will_paginate @stories %>
</div>
	