<%= error_messages_for (@document) %>

new doc

<%= form_for(:document) do |f| %>  
  <div class="field">
    <%= f.label :id_group %><br />
    <%= f.text_field :id_group %>
  </div>
  <div class="field">
    <%= f.label :id_company %><br />
    <%= f.text_field :id_company %>
  </div>
  <div class="field">
    <%= f.label :id_sender %><br />
    <%= f.text_field :id_sender %>
  </div>
  <div class="field">
    <%= f.label :id_recipient %><br />
    <%= f.text_field :id_recipient %>
  </div>
  <div class="field">
    <%= f.label :id_payer %><br />
    <%= f.text_field :id_payer %>
  </div>
  <div class="field">
    <%= f.label :id_beneficiary %><br />
    <%= f.text_field :id_beneficiary %>
  </div>
  <div class="field">
    <%= f.label :id_project %><br />
    <%= f.text_field :id_project %>
  </div>
  <div class="field">
    <%= f.label :id_doctype %><br />
    <%= f.text_field :id_doctype %>
  </div>
  <div class="field">
    <%= f.label :filename_original %><br />
    <%= f.text_field :filename_original %>
  </div>
  <div class="field">
    <%= f.label :docdate %><br />
    <%= f.date_select :docdate %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
