<div class="field">
    <%= f.label :id_group %>
    <%= f.text_field :id_group, :size => "32" %>
  </div>
<div class="field">
    <%= f.label :id_company %>
    <%= f.text_field :id_company, :size => "32" %>
  </div>
<div class="field">
    <%= f.label :id_sender %>
    <%= f.collection_select ( :document, :id_sender, 
					Partner.all(:order => "name"), :id, :name,
					{ :prompt => "---------Select sender----------",
					:selected => [@document.id_sender] },
					{ :include_blank => true, 
					:multiple => false, 
					:size => 1 ,
					:style => "width:235px" } )
	%>
  </div>
<div class="field">
    <%= f.label :id_recipient %>
    <%= f.select 	:id_recipient, 
					Partner.all(:order => "name").collect { |s| [s.name, s.id] },
					{ :prompt => "---------Select recipient----------",
					:selected => [@document.id_recipient] },
					{ :include_blank => true, 
					:multiple => false, 
					:size => 1 ,
					:style => "width:235px" }
	%>
  </div>
<div class="field">
    <%= f.label :id_payer %>
    <%= f.text_field :id_payer, :size => "32" %>
  </div>
<div class="field">
    <%= f.label :id_beneficiary %>
    <%= f.text_field :id_beneficiary, :size => "32" %>
  </div>
<div class="field">
    <%= f.label :id_project %>
    <%= f.text_field :id_project, :size => "32" %>
  </div>
<div class="field">
    <%= f.label :id_doctype %>
    <%= f.text_field :id_doctype, :size => "32" %>
  </div>
<div class="field">
    <%= f.label :filename_original %>
    <%= f.text_field :filename_original, :size => "32" %>
  </div>
<div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, :size => "40x2" %>
  </div>
<div class="field">
    <%= f.label :docdate %>
    <%= f.date_select :docdate %>
  </div>


