<p id="notice"><%= notice %></p>

<p>
  <b>Id group:</b>
  <%= @document.id_group %>
</p>

<p>
  <b>Id company:</b>
  <%= @document.id_company %>
</p>

<p>
  <b>Id sender:</b>
  <%= @document.id_sender %>
</p>

<p>
  <b>Id recipient:</b>
  <%= @document.id_recipient %>
</p>

<p>
  <b>Id payer:</b>
  <%= @document.id_payer %>
</p>

<p>
  <b>Id beneficiary:</b>
  <%= @document.id_beneficiary %>
</p>

<p>
  <b>Id project:</b>
  <%= @document.id_project %>
</p>

<p>
  <b>Id doctype:</b>
  <%= @document.id_doctype %>
</p>

<p>
  <b>Filepath:</b>
  <%= @document.filepath %>
</p>

<p>
  <b>Filename:</b>
  <%= @document.filename %>
</p>

<p>
  <b>Filename original:</b>
  <%= @document.filename_original %>
</p>

<p>
  <b>Db link:</b>
  <%= @document.db_link %>
</p>

<p>
  <b>Size:</b>
  <%= @document.size %>
</p>

<p>
  <b>Localpath:</b>
  <%= @document.localpath %>
</p>

<p>
  <b>Doctime:</b>
  <%= @document.doctime %>
</p>

<p>
  <b>Docdate:</b>
  <%= @document.docdate %>
</p>

<p>
  <b>Docdate paid:</b>
  <%= @document.docdate_paid %>
</p>

<p>
  <b>Doctade delivered:</b>
  <%= @document.doctade_delivered %>
</p>

<p>
  <b>Ammount brutto:</b>
  <%= @document.ammount_brutto %>
</p>

<p>
  <b>Ammount netto:</b>
  <%= @document.ammount_netto %>
</p>

<p>
  <b>Ammount vat:</b>
  <%= @document.ammount_vat %>
</p>

<p>
  <b>Ammount currency:</b>
  <%= @document.ammount_currency %>
</p>

<p>
  <b>Bookedunder:</b>
  <%= @document.bookedunder %>
</p>

<p>
  <b>Booking:</b>
  <%= @document.booking %>
</p>

<p>
  <b>Content:</b>
  <%= @document.content %>
</p>

<p>
  <b>Notepublic:</b>
  <%= @document.notepublic %>
</p>

<p>
  <b>Noteprivat:</b>
  <%= @document.noteprivat %>
</p>

<p>
  <b>Reference:</b>
  <%= @document.reference %>
</p>

<p>
  <b>Flags:</b>
  <%= @document.flags %>
</p>

<p>
  <b>Selected:</b>
  <%= @document.selected %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
