<% @page_title = "Story List"%>
<%= link_to("<<Back to Menu", {:controller => "access", :action=>"menu"}, :class=>"back-link") %>
<div class="story list">
	<h2>Storys</h2>
	<%= link_to("Add new Story", {:action=>"new"}, :class=>"action new round") %>
	<%= link_to("Update Storys", {:action => "update_all", 
									:page => params[:page], 
									:sort => params[:sort], 
									:direction => params[:direction],
									:search => params[:search] }, 
									:class=>"action new round") %>
	<div><%= pluralize(@stories.size, "story") %> found</div>	
	<%= render :partial => 'search_field_tag' %>
	<%= render :partial => 'index_table' %>
	<%= will_paginate @stories %>
</div>
	