<% @page_title = "Story List"%>
<%= link_to("<<Back to Menu", {:controller => "access", :action=>"menu"}, :class=>"back-link") %>
<div class="story list">
	<%= link_to("Add new Story", {:action=>"new"}, :class=>"action new round") %>
	<%= saved_queries_panel(@stories_grid) %>
	<%= render :partial => 'index_table' %>
	<p>
		IDs of records on the current page:
	    <%= @stories_grid.current_page_records.map(&:id).to_sentence %>
	</p>
	<p>
	    IDs of all records:
	    <%= @stories_grid.all_pages_records.map(&:id).to_sentence %>
	</p>
</div>
	