<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Simple CMS | <%= @page_title || "Public Area" %></title>
	<meta name="author" content="Michael Sopira">
	<%= stylesheet_link_tag("public") %>
</head>
<body>
	<div id="header">
		<div class="logo"><%= image_tag("rails.png", {:size=>"25x32", :alt=>"Rails logo"}) %></div>
		<h1>Sophia</h1>
	</div>
	
	<div id="main">		
		<div id="navigation">
			<%= render(:partial=>"layouts/navigation", :locals => {:stories => @stories}) %>
			<% # premennu @stories nemusim predavat cez :locals=> ... je to len ako explicitny priklad %>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<div class="clear">
		</div>
	</div> <!-- END DIV id="main" -->
	
	<div id="footer">
		<p id="copyright">&copy; myCMS | Michael SOPIRA</p>
		<%#= debug(params) %>
	</div> <!-- END DIV id="footer" -->
</body>
</html>
